.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  /* выше установили ограничения для секции */
}

/*.block_header_margin{
  margin-right:64px;
}*/
.logo_place_header{
  width: 183px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);

}

.header__title{
  display: flex;
  align-self: center;
  margin-left: 64px;
  width: 730px;
  z-index: 5;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 7;
}


.header__subtitle{
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 390px; /* В брифе была указана ширина 388, но тогда текст переносится и не встаетв ширину блока*/
  line-height: 25px;
  font-size: 18px;
  z-index: 7;
}

.header__main-illustration{
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right:0;
  z-index: 3;
}

.header__squire-pic{
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: 2;
}

.header__link{
  text-decoration: none;
  color: #2f80ed;
}

.description{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.two-columns{
  width: 80%;
  margin: 100px auto 0;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief{
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.two-columns__brief_name{
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: auto;
}

.two-columns__main-text{
  width: 80%;
  right: 0;
  min-width: 784px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.two-columns__paragraph{
  margin: auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:nth-child(2){
  margin:30px 0;
}

.two-columns__span-accent{
  font-weight: bold;
}

.digits{
  margin: 100px 0;
}

.section-title{
  width: 60%;
  margin: auto;
}

.section-title_name{
  margin:auto;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle{
  width: 60%;
  margin: 20px auto 0;

}

.section-subtitle_name{
  margin: auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table{
  width: 1100px;
  margin: auto;
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell{
  width: 250px;
  list-style-type: none;
}

.table__cell_s{
  margin-bottom: 60px;
}

.table__heading{
  margin: auto;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.table__text{
  margin: 20px auto 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman{
  background-color: #f2f2f2;
  padding-top: 100px;
}

.feynman__block{
  height: 790px;
  width: 100%;
  position: relative;
  display: inline-block;
}

.feynman__title{
  width: 648px;
  margin: 0 auto 70px;
  z-index: 2;
  display: flex;
}

.feynman__title_name{
  margin: auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 2;
}

.feynman__subtitle{
  margin:70px auto 0;
  z-index: 4;
  display: flex;
}

.feynman__subtitle_name{
  margin: auto;
  text-align: center;
  line-height: 51px;
  font-weight: normal;
  font-size: 36px;
  z-index: 40;
}

.feynman__link{
position: absolute;
top: 50%;
right: 48px;
z-index: 30;
display: flex;
}

.feynman__link_content{
margin: auto;
color: #2f80ed;
text-decoration: none;
line-height: 51px;
font-size: 36px;
font-weight: normal;
z-index: 30;
}


.feynman__picture{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  z-index: 1;
}

.feynman__picture_content{
  position: absolute;
  display: flex;
  z-index: 1;
}
.kaufman{
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.section-title_theme_dark{
margin: 90px auto 0;
width: 60%;
z-index: 3;
}

.section-title__name_theme_dark{
  margin: auto;
  height: 1.15;
  font-size: 60px;
  font-weight: bold;
  color: white;
  text-align: center;
  z-index: 3;
}

.section-subtitle_theme_dark{

  margin: auto;
  width: 60%;
  z-index: 3;
}

.section-subtitle__name_theme_dark{
  margin: 20px auto 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: white;
  text-align: center;
  z-index: 3;
}

.table_theme_dark{
  padding-top: 80px;
  margin-bottom: 90px;
  z-index: 3;
}

.table__heading_theme_dark{
  color: white;
  z-index: 3;
  margin-bottom: 20px;
  z-index: 3;
}

.table__cell_theme_dark{
  width: 200px;
  z-index: 3;
  list-style-type: none;
}

.table__cell_s_theme_dark{
  margin-bottom: 80px;
  z-index: 3;
}

.table__text_theme_dark{
  color: white;
  margin-top: 20px;
  z-index: 3;
}

.kaufman__triangle{
  position: absolute;
  top:0;
  right: -210px;
  width: 877px;
  height: 877px;
  background: url(../images/kaufman-triangle.svg);
  z-index: 2;
}

.footer{
  padding: 60px 0 40px;
  background-color: #1f1f1f;

}

.footer__columns
{
  min-height: 350px;
  display: flex;
  justify-content: space-between;
  flex-basis: 711px;
  margin-bottom: 40px;
  width: 90%;
  margin: auto;
}

.footer__column_content_copyright{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer{
  width: 183px;
  height: 35px;
}

.footer__author{
  margin:18px 0;
}

.footer__column-heading{
  margin-bottom: 20px;
}

.footer__column-heading_name{
  color: white;
  margin: auto;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;

}

.footer__column-links{
  margin-top: 20px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;

}

.footer__author_content{
  margin: auto;
  line-height: 25px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.footer__column-links_content{
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icons_name{
  color: white;
  margin: auto;
  margin-left: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;

}

.footer__social-icons_logo{
  width: 16px;
  height: 16px;
  margin-right: 10px;
}


.footer__social-icons_content{
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.footer__social-icons{
  list-style-type: none;
}

.footer__social-icons_block{
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.footer__column-links_content:hover{
color: #2f80ed;
}

.footer__social-icons_content:hover{
  color:#2f80ed;
}
